:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color-light: #d7d9e1;
    --toogle-color: #bdbdbd;
    --text-color: #212529;
    --sombra-toggle: 1px -1px 2px inset rgba(0, 0, 0, 0.222);
    --label-new: #007904;
    --back-modal: #dfdfdf;
    --pagination: #25456f;
    --boxshadow: rgb(9 177 0 / 25%);
    --search-border: #ced4da;
    --open-select: #ffffff85;
    --color-select: #454e55;
    --select-hover: #878787;
    --select-text-hover: #17222f;
    --select-border-bottom: #212529;
    --swal-color: #B7040F;
    --swal-boxsha: #ff001970;
    --invalid: #a90010;
    --toggle-back: #98a0ab;
    --stroke: #667499;
    --hue: 223;
    --light-sh: #ffffff19;
    --dark-sh: hsla(var(--hue), 10%, 15%, 0.4);
    --primary-t: hsla(var(--hue), 90%, 50%, 0);
    --trans-dur: 0.28s;
    --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
    --radio-switch-height: 46px;
    --radio-switch-padding: 1px;
    --bg-1: #375071;
    --bg-2: #6b0f0f;
    --bg-3: #1a4724;
    --bg-4: #ba8530;
    --content-wrap: #f4f6f9;
    --a-color: #5f666d;
    --icon-neon: #14e01b;
    --btn-row-color: #721c24;
    --btn-row-hover: #a3161f;
}

::selection {
    background-color: #002c59;
    color: #fff;
}


button.dtsp-collapseButton,
button.dtsp-collapseButton:focus,
button.dtsp-collapseButton:hover,
button.dtsp-collapseButton:active {
    background-color: transparent !important;
    border: none !important;
}

.dtsp-panes.dtsp-panesContainer {
    padding: 0 .75rem .2rem .75rem;
}

/* .border-dark th {
    border: 1px solid #d5dbe1 !important;
    border-width: 1px !important;
    border-bottom-width: 0!important;
} */

.tooltip-inner {
    max-width: 500px;
    /* Ajusta el tamaño máximo del tooltip */
    white-space: pre-wrap;
    /* Permite que el texto haga salto de línea según los <br> */
}

body.dark-mode {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color-light: #343e49;
    --toogle-color: #fff;
    --sombra-toggle: 1px 2px 3px inset rgb(255 255 255 / 18%);
    --label-new: #00bc8c;
    --text-color: #f6fffa;
    --back-modal: #152418a1;
    --pagination: #002c59;
    --search-border: #6c757d;
    --open-select: #1a1f254d;
    --color-select: #c9d2d9;
    --select-hover: #14171cd9;
    --select-text-hover: #c9d2d9;
    --select-border-bottom: #f6fffa;
    --boxshadow: #00bc8d52;
    --swal-color: #880a12;
    --swal-boxsha: #ff283e5b;
    --invalid: #ff5969;
    --light-sh: #00000019;
    --toggle-back: #acb6c333;
    --stroke: #32363d;
    --content-wrap: #2e363f;
    --a-color: #828c95;
    --icon-neon: #d9f3d4;

}

.download {
    display: inline-block;
    white-space: nowrap;

}

.dropzone.dropzone-inline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    /* height: 123.33px; */
    background: #f3f3f3;
    border: 2px dashed #b3b3b3;
    padding: 10px;

}

td.child.tdArchivo br,
.dtr-data br {
    display: none !important;
}

.dropzone.dropzone-inline .dz-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 132px;
    min-width: 90px;
    background: linear-gradient(to bottom, #eee, #ddd) !important;
    border-radius: 8px;
    box-shadow: 0 1px 4px #0001;
    min-height: auto;
    /* padding: 8px 4px 4px 4px; */
}

.dropzone.dropzone-inline .dz-preview .dz-error-message {
    top: 90px !important;
    left: -4px !important;
}

.dropzone.dropzone-inline .dz-image {
    width: 100% !important;
    height: 2.5rem !important;
    /* margin: 0 auto 6px auto; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 8px !important;
    background: linear-gradient(to bottom, #eee, #ddd);
}

.dropzone.dropzone-inline .dz-details {
    width: 100%;
    text-align: center;
    opacity: 1 !important;
    padding: .8rem .5rem .1rem 2.5rem !important;
}

.dropzone.dropzone-inline .dz-filename {
    font-size: 0.95em;
    color: #666;
    word-break: break-all;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.dropzone.dropzone-inline .dz-size {
    display: none !important;
}

.dropzone.dropzone-inline .dz-message {
    margin: 26.5px auto;
}

.dropzone.dropzone-inline .dz-remove {
    margin: .5rem;
    color: #a3161f;
    cursor: pointer;
}

.ri5-sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

.stick-header {
    position: sticky;
    top: 0;
    background-color: var(--content-wrap);
    z-index: 99
}



input[type=file]::file-selector-button {
    margin-top: -20px;
    margin-right: 20px;
    margin-left: -14px;
    z-index: 900;
    background-color: var(--text-color);
    padding: 10px;
    /* border-radius: 5px; */
    color: var(--sidebar-color);
    cursor: pointer;
}

.pad-col {
    padding-block: 1rem;
}

.no-margin {
    margin-top: -0.7rem
}

#overlay {
    position: fixed;
    width: 100%;
    height: 200%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: none;
}

#tblHorario .odd td {
    background-color: #f2f2f2;
}

#tblHorario .even td {
    background-color: #fff;
}

.odd .dtfc-fixed-left,
.odd .dtfc-fixed-right {
    background-color: #f2f2f2;
    z-index: 3;
}

.odd.selected .dtfc-fixed-left {
    background-color: #cfdceb;
    /* z-index: 10; */
}

.even.selected .dtfc-fixed-left {
    background-color: #cfdceb;
    /* z-index: 10; */
}

.even .dtfc-fixed-left {
    background-color: #fff;
    z-index: 3;

}

.even td.dtfc-fixed-right {
    z-index: 3;
    border-left-width: 1px;
    box-shadow: -4px 0 10px 0 #ced4da58;
}

.odd td.dtfc-fixed-right {
    z-index: 3;
    border-left-width: 1px;
    box-shadow: -4px 0 10px 0 #ced4da58;

}

#tblHorarioE tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}


.odd .dtfc-fixed-right {
    background-color: #f2f2f2;
    z-index: 10;
}

.odd.selected .dtfc-fixed-right {
    background-color: #cfdceb;
    /* z-index: 10; */
}

.even.selected .dtfc-fixed-right {
    background-color: #cfdceb;
    /* z-index: 10; */
}

.even .dtfc-fixed-right {
    background-color: #ffffff;
    z-index: 10;
}


table.table-fix tbody>tr.selected,
table.table-fix tbody>tr>.selected {
    background-color: #d9e5f3 !important;
    color: #000 !important;

}

.ui-autocomplete {
    z-index: 10000 !important;
}

.loader {
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    height: 100%;
}

.bg-gradient-green:focus {
    box-shadow: 0 0 0 0.2rem #00bc8d52;
}

input[type=file] {
    border: 1px solid var(--text-color) !important;
    border-radius: 5px;
}

.form-container {
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* margin-top: 10px; */
}

.tabledit-input.form-control {
    border-bottom-width: 2px;
    text-align: center;
}

.tabledit-edit-mode {
    max-width: 100px;
    min-width: 100px;
}


#cboEmpresaFilter+.select2-container.select2-container--default,
#cboOrdenEstadoFilter+.select2-container.select2-container--default,
#cboPreEstadoFilter+.select2-container.select2-container--default {
    max-width: calc(60% + 1rem);
    min-width: 120px;
}


#cboEmpresaFilter+.select2-container.select2-container--default .selection .select2-selection--single,
#cboPreEstadoFilter+.select2-container.select2-container--default .selection .select2-selection--single,
#cboOrdenEstadoFilter+.select2-container.select2-container--default .selection .select2-selection--single {
    border-bottom: none;
}

#cboMeses+.select2-container.select2-container--default {
    min-width: 112px;
    /* Puedes ajustar este valor según tus necesidades */
}

.bg-1 {
    color: #fff;
    background-color: var(--bg-1);

}

.bg-2 {
    background-color: var(--bg-2);
    color: #fff;
}

.bg-3 {
    background-color: var(--bg-3);
    color: #fff;
}

.bg-4 {
    background-color: var(--bg-4);
    color: #fff;
}

/* #select2-cboProveedor-container .select2-selection__placeholder {
    font-size: 1rem;
} */

.select2-container--disabled .select2-search__field {
    cursor: not-allowed;
}

.tabs {
    display: inline-flex;
    position: relative;
    background-color: var(--back-modal);
    box-shadow: -1px 2px 4px inset rgb(0 0 0 / 28%);
    border-radius: 99px;
    height: calc(var(--radio-switch-height) - 2*var(--radio-switch-padding));
    width: 100%;
    text-align: center;
}

.tabs * {
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

.tab {
    display: inline-block;
    vertical-align: middle;
    /* Alinea verticalmente los elementos */

    font-size: 1rem;
    width: 100%;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="radio"]:checked+label:not(.custom-control-label) {
    color: var(--light);
}

/* .sorting_disabled.sorting_asc{
    position: initial;
    cursor: none;
}

table.dataTable>thead .sorting_disabled.sorting_asc::after , table.dataTable>thead .sorting_disabled.sorting_asc::before {
    cursor: none ;
    display: none;
} */
/* #radio-1:checked {
    --label-new: #000000!important;
} */


#btnOrden:focus {
    box-shadow: 0 0 0 0.2rem var(--boxshadow);
}

#btnConfirmar:focus {
    box-shadow: 0 0 0 0.2rem #82828276;
}

#btnGuardarGuia:focus {
    box-shadow: 0 0 0 0.2rem var(--boxshadow);
}

.control-sidebar-slide-open #card_orden {
    --boxshadow: #00000040;
}

.control-sidebar:has(#radio-1:checked) {
    --label-star: #2fb54d;
    --label-new: #007904;
    --boxshadow: #1eb0325a;
}

.control-sidebar:has(#radio-2:checked) {
    --label-star: #c32333;
    --label-new: #940909;
    --boxshadow: #960d0d6b;
}

.control-sidebar:has(#radio-7:checked) {
    --label-star: #cfa600;
    --label-new: #ad7600;
    --boxshadow: #dab2146b;
}

td:has(span.select2-selection.select2-selection--single) {
    --select-border-bottom: #ced4da;
    --label-new: #375c9b;
}

/* .unidad .select2-container--default.select2-selection--single.select2-selection__rendered{
font-size: 1rem;
} */

.unidad+.select2-container.select2-container--default .selection .select2-selection--single .select2-selection__rendered {
    font-size: 1rem;
}

.historial+.select2-container.select2-container--default .selection .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
    font-size: 1.45rem
}

.control-sidebar:has(#radio-3:checked):not(.modal-body *) {
    --label-star: #2c6cb1;
    --label-new: #294371;
    --boxshadow: #175aad62;

}

.right.fa-regular.fa-circle-plus:hover {
    color: #007904;
}

a.dropdown-item[data-estado="NO APROBADO"]:hover {
    color: #d32f2f;
    font-weight: bold;
}

a.dropdown-item[data-estado="APROBADO"]:hover {
    color: #2e7d32;
    font-weight: bold;
}

a.dropdown-item[data-estado="PENDIENTE"]:hover {
    color: #dbaf00;
    font-weight: bold;
}

a.dropdown-item[data-estado="NO APROBADO"]:active {
    background-color: #ba0000 !important;
}

a.dropdown-item[data-estado="APROBADO"]:active {
    background: #2e7d32 !important;
}

a.dropdown-item[data-estado="PENDIENTE"]:active {
    background: #dbaf00 !important;
}


.clear-btn-inp {
    position: absolute;
    right: 10px;
    top: 46%;
    cursor: pointer;
    font-size: 1.4rem;
    color: gray;
    background: none;
    border: none;
    display: none;
}

.clear-btn-inp:hover {
    color: red;
}

/* #radio-orden:checked~.glider, #r-orden:checked~.glider {
    transform: translateX(0);
    background-color: var(--label-new);
} */

#radio-1:checked~.glider,
#radio-fecha:checked~.glider {
    transform: translateX(200%);
    background-color: var(--label-new);

}

#radio-2:checked~.glider,
#radio-orden:checked~.glider,
#r-orden:checked~.glider {
    /* --radio-color: #818b16; */
    transform: translateX(0);
    background-color: var(--label-new);
}

#radio-3:checked~.glider,
#radio-cliente:checked~.glider,
#r-fecha:checked~.glider {
    /* --radio-color: #01626b; */
    transform: translateX(100%);
    background-color: var(--label-new);
}

.tabs:has(#radio-1) #radio-7:checked~.glider {
    transform: translateX(300%);
    background-color: var(--label-new);
}

/* Caso 2: Si NO existe #radio-1, #radio-7 se mueve solo 100% */
.tabs:not(:has(#radio-1)) #radio-7:checked~.glider {
    transform: translateX(200%);
    background-color: var(--label-new);
}

.dark-mode input[type="date"] {
    color-scheme: dark;
}

.glider {
    position: absolute;
    height: calc(var(--radio-switch-height) - 2*var(--radio-switch-padding));
    width: 33.4%;
    background-color: red;
    z-index: 1;
    border-radius: 99px;
    transition: 0.3s ease-out;
    box-shadow: -1px -2px 6px inset rgb(0 0 0 / 22%);
}

body.no-scroll {
    padding-right: 6px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.modal-rol {
    --select-hover: #abaaaa52;
}

.modal-rol button {
    --boxshadow: #565c5a52;
}

.dark-mode .modal-rol {
    --select-hover: #14171cd9;
}

.modal-change {
    --label-new: #153d7e;
    --boxshadow: rgba(0, 62, 177, 0.25);
    --select-border-bottom: #153d7e !important;
}

.searchFab+.ui-autocomplete {
    max-height: 120px;
}

.modal-yellow {
    --label-new: #b28807;
    --boxshadow: #d5a000b8;
    --select-border-bottom: #b28807 !important;
}

.dark-mode .modal-change {
    --label-new: #186df5;
}

#tblEmpleadoH_filter input[type="search"] {
    background-color: #e9e9e9 !important;
    border-radius: 0.5rem !important;
}

#tblEmpleadoH_filter input[type="search"]:focus {
    border-color: #035906 !important;
}


.selected-bor {
    --select-border-bottom: #007904;
}

.border-2 {
    border-bottom-width: 2px;
}

.dark-mode .selected-bor {
    --select-border-bottom: var(--label-new);
}

.combo {
    color: var(--select-border-bottom)
}

.sticky-content {
    position: sticky;
    top: 0;
    background-color: #dfdfdf;
    padding-block: 1rem 0.5rem;
    z-index: 2;
}

.sticky-col {
    left: 0;
    position: sticky;
    z-index: 999;
    background-color: var(--select-hover);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* box-shadow: 0 5px 5px rgba(0,0,0,.125), 0 5px 5px rgba(0,0,0,.2); */
}

/* .group-header {
  position: relative;
  padding: 0.5rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.group-title {
  min-width: 0;
  white-space: normal;
  word-break: break-word;
}


.sticky-buttons{
    position: sticky;
    right: 0;
    background: #244062;
    z-index: 2;
    display: flex;
    padding-right: .5rem;
} */

/* .dataTables_scrollHeadInner,
.dataTables_scrollBody table {
  width: 100% !important;
} */

.group-header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    /* width: 100%;
  gap: 0.5rem; */
}

.group-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sticky-start {
    position: sticky;
    left: 0;
    background: #244062;
    z-index: 2;
    padding-right: 0.5rem;
}

.sticky-end {
    position: sticky;
    right: 0;
    background: #244062;
    z-index: 2;
    display: flex;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.lh-1 {
    line-height: 1;
}

.dark-mode .tabs {
    --back-modal: #1e2127a1;
}

.modal-change .selected-bor {
    --select-border-bottom: #153d7e !important;
}

.table-hover thead tr th {
    background-color: #ac7600ab;
    color: #fff;
}

.table-header thead tr th {
    background-color: #21492a;
    color: #fff;
}

.table-header tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: rgba(88, 140, 45, 0.373) !important;
    color: #000 !important;
}

.dark-mode .modal-change .selected-bor {
    --select-border-bottom: var(--label-new) !important;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 9%);
}

#tblPermisos td {
    border: none;
    padding: .4rem 2rem;
}

.tab-icon {
    text-align: center;
    width: 1.46rem;
}

#tblPermisos th[scope="row"] {
    padding: 0rem 1.2rem 0rem 1.2rem !important;
    border: none;
}

.dtsp-titleRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

.dtsp-title,
.dtsp-clearAll,
.dtsp-showAll,
.dtsp-collapseAll {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}

/* #tblHorario th {
    position: relative!important;
    min-height: 41px!important;
}

#tblHorario th span {
    display: block!important;
    position: absolute!important;
    left: 0!important;
    right: 0!important;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
} */

#tblPermisos th {
    vertical-align: middle;
    white-space: nowrap;
}

#tblSalidas tr.dtrg-group {
    color: #721c24;
    background-color: #f8d7da;
}

#tblHorario tr.dtrg-group td {
    color: #fff;
    background-color: #244062;
}

#tblSalidas tr.dtrg-group td {
    border: 1px solid #f5c2c7;

}

#tblInforme tr.dtrg-group,
.th-blue {
    color: #004085;
    background-color: #cfe6fe;
    --btn-row-color: #004085;
    --btn-row-hover: #0065d1;
}

#tblInforme tr.dtrg-group td {
    border: 1px solid #b8daff;
}

.th-orange {
    color: #BE5014;
    background-color: #FBE2D5;
}

.th-purple {
    color: #4E1F6D;
    background-color: #E8DAEF;
}

.th-dark-blue {
    background-color: #aad8ff;
    color: #00427d;
}

.th-yellow {
    color: #856404;
    background-color: #fff3cd;
}

.th-red {
    color: #721c24;
    background-color: #f8d7da;
}

#tblEntradas tr.dtrg-group,
.th-green {
    color: #155724;
    background-color: #d4edda;
    --btn-row-color: #155724;
    --btn-row-hover: #279b41;
}


#tblEntradas tr.dtrg-group td {
    border: 1px solid #c3e6cb;
}

#tblHorario tr.dtrg-group {
    color: #fff;
    background-color: #244062;
    --btn-row-color: #fff;
    --btn-row-hover: #b3d9ff;
}

/* #tblHorario tr.dtrg-group td {
    border: 1px solid #c3d5e6;
} */

.overflow-body {
    overflow: hidden;
}

.btn-row {
    color: var(--btn-row-color);
    font-size: 1.55rem;
    padding-inline: .5rem !important;
}

.btn-row:hover {
    color: var(--btn-row-hover) !important;
}

.sidebar nav {
    height: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .mode {
    background: var(--primary-color-light);
    position: relative;
}

nav .mode {
    height: 48px;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
}

.mode .icon {
    font-size: 1.25rem;
}

nav .mode .moon-sun {
    height: 50px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .mode .icon {
    position: absolute;
    transition: all 0.3s ease;
}

body.dark-mode .mode .sun {
    opacity: 1;
}

body.dark-mode .mode .moon {
    opacity: 0;
}

nav .mode .sun {
    opacity: 0;
}

.mode .text {
    transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
    opacity: 1;
}

nav .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toogle-color);
    box-shadow: -1px 2px 4px inset rgb(0 0 0 / 28%);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #767272a6;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(88, 88, 88);
}

::-webkit-scrollbar-track {
    background-color: #00000000;
}

.card-tools {
    height: 2.1rem;
}

.card-header:has(select),
.modal-header:has(select) {
    --select-border-bottom: transparent;
}

.col-p {
    padding: .7rem 0rem;
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: all 0.3s ease;
    box-shadow: var(--sombra-toggle);
}

body.dark-mode .switch::before {
    left: 24px;
}

body.sidebar-collapse .text {
    opacity: 0;
}

.main-sidebar:hover .mode-text {
    opacity: 1;
}

.txt-wrap-sm {
    white-space: nowrap;
    text-align: center;
}

#formConfigM .form-group .switch-2 .switch__input {
    --label-new: #153d7e;
    --boxshadow: rgba(0, 62, 177, 0.25);
}

#formConfigM .form-group .switch-2 .switch__input:checked+.switch__check .switch__check-line {
    --label-new: #153d7e;
}

.txt-ellipsis {
    text-overflow: ellipsis;
    white-space: NOWRAP;
    overflow: hidden;
}

.btn-group-toggle {
    display: flex !important;
}

@media (max-width: 991px) {

    .control-sidebar,
    .control-sidebar::before {
        right: -100%;
        width: calc(100% - 74px);
    }
}

.input-data {
    width: 100%;
    height: 65.61px;
    position: relative;
    margin-bottom: 1.8rem;
}

input:focus-visible {
    outline: none;
}

.input-data input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
    transition: border-bottom-color 0.25s ease-in-out;
    position: absolute;
    bottom: 0;
}

i.exponent-icon {
    font-size: 0.85rem;
    position: relative;
    top: -0.85em;
    color: #888888;
    /* left: 0.1em;  */

}

.exponent-icon:hover {
    color: #010101;
    cursor: pointer;
}

#btnlogout:hover {
    background-color: #890000;
    color: #fff;
}

.fila-destacada {
    background-color: #a949499b !important;
    /* Fondo amarillo */
    color: #ffffff !important;
    /* Texto negro */
}

.bg-fab {
    background-color: #be7c82 !important;
    color: #fff;
}

tr.fila-anulada+tr.child {
    background-color: #f8d7da;
    /* Fondo rojo claro */
    color: #721c24;
    /* Texto rojo oscuro */
}

.input-data .label {
    position: absolute;
    bottom: 1px;
    font-size: 22px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.fila-anulada {
    background: #f8d7da !important;
    /* Color de fondo para las filas anuladas */
    color: #721c24;
    /* Color del texto para las filas anuladas */
    font-style: italic;
    /* Opcional: estilo del texto */
}

.input-data input:focus:not(#fecha_ppt) {
    border-bottom-color: var(--label-new);
}

.input-data input:focus~.label,
.input-data input:valid~.label {
    transform: translateY(-30px);
    font-size: 18px !important;
    font-weight: 600 !important;
}

.input-data input:read-only~.label {
    transform: translateY(-30px);
    font-size: 18px !important;
    font-weight: 600 !important;
    color: var(--label-new);

}

.input-data input:read-only {
    background-color: #b3b1b140;
    border-bottom-color: var(--label-new);
}

.dtr-details {
    overflow-wrap: anywhere;
}

.modal-body .input-data input:valid~.label {
    color: var(--label-new);
}

.modal-body .input-data input:valid {
    border-bottom-color: var(--label-new);
}

#_search {
    height: 2rem
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: var(--select-text-hover)
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--select-hover)
}

.select2-container--default .select2-dark .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-dark .select2-results__option--highlighted[aria-selected]:hover,
.select2-dark .select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-dark .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: var(--text-color);
    color: var(--sidebar-color)
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--open-select);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px)
}


.custom-control-input:checked~.custom-control-label::before {
    color: var(--sidebar-color);
    border-color: #001f3f;
    background-color: #3f6791;
    box-shadow: inset 0 0 0 transparent, 0 0 0 1px #fff, 0 0 0 0.2rem #0d305761
}

.collapsedrow * {
    visibility: hidden;
    height: 0;
    line-height: 0;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

#tblHorario tr.dtrg-start td {
    box-shadow: 0 2px 8px rgb(0 0 0 / 28%);
    position: sticky;
    top: 0;
    /* o ajusta si tienes headers sticky encima */
    z-index: 5;
    /* asegúrate que esté sobre otras filas */
}

.partir-texto {
    word-wrap: break-word;
    /* Permite que las palabras largas se rompan */
    overflow-wrap: break-word;
    /* Compatibilidad adicional */
    white-space: normal;
    /* Habilitar varias líneas */
    max-width: 16rem;
    /* Opcional: limita el ancho */
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem var(--boxshadow)
}

.modal-footer button:focus:not(.btn.bg-gradient-light) {
    box-shadow: 0 0 0 0.2rem var(--boxshadow);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .46rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--pagination);
    border-color: #dee2e6
}

@media (max-width: 990px) {
    [class*=sidebar-light-] {
        background-color: #dee1e7cf;
    }
}

.input-group:focus-within .icon {
    color: #375c9b;
}

.input-group:focus-within:not(.dtsp-subRowsContainer .input-group) {
    border-bottom: 1px solid #375c9b;
}

svg {
    fill: currentColor
}

#medidas-tab.nav-link.active,
#detalles-tab.nav-link.active {
    color: var(--label-new);
    background-color: #8f8f8f33;
    border-bottom: 2px solid var(--label-new);
    border-left: none;
}

#svg {
    height: 2rem;
    vertical-align: text-top;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #939ba2;
}

.scroll-modal {
    max-height: calc(74vh - 2.2rem);
}

.dark-mode .text-info {
    color: #186df5 !important;
}

.dtsp-nameButton,
.dtsp-countButton,
.clearButton {
    visibility: collapse;
    width: 0;
    padding: 0;
}

.dtsp-subRow1 .input-group .input-group-append {
    display: none;
}

/* 
.input-group input.dtsp-paneInputButton:focus {
    border-bottom: none!important;
} */

#select2-cboProveedores-container .select2-selection__placeholder,
#select2-cboClientes-container .select2-selection__placeholder,
#select2-cboConductor-container .select2-selection__placeholder,
#select2-cboConductorEntrada-container .select2-selection__placeholder,
#select2-cboEmpleado-container .select2-selection__placeholder,
#select2-cboOrden-container .select2-selection__placeholder,
#select2-cboFabricado-container .select2-selection__placeholder,
#select2-cboClienteEntrada-container .select2-selection__placeholder,
#select2-cboDespachado-container .select2-selection__placeholder,
#select2-cboResponsable-container .select2-selection__placeholder {
    font-size: 1.1rem;
}

.btn-group-toggle label.btn.active {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.btn-group-toggle label.btn {
    /* border-top-width: 1px;
    border-bottom-width: 1px; */
    border-width: 1px 0px;
    border-color: #c1c1c1;
}


#tblFab td {
    background-color: #a0a6c330;
}

#cboFabricado+.select2-container.select2-container--default .selection .select2-selection--single,
#cboFabricadoCon+.select2-container.select2-container--default .selection .select2-selection--single {
    border-color: #000;
}

.card-body .select2-container--default .select2-selection--single:focus:not(#card_empleados .select2-container--default .select2-selection--single, #card_preferencia .select2-container--default .select2-selection--single) {
    border-bottom-color: var(--label-new);
}

#div_header .select2-container--default .select2-selection--single {
    border-bottom-color: #c9c9c9;
}

#select2-cboMeses1-result-775t-0 {
    padding: 0;
}

/* .col-6-cus{
    flex: 0 0 50%;
    max-width: 100%;
    flex-grow: 1;
} */

@media (max-width: 762px) {
    .span-btn {
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }

    .scroll-modal {
        max-height: calc(56vh - 2.2rem);
    }

}

@media (min-width: 451px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }


}

@media (max-width: 451px) {
    .btn-group button span {
        font-size: .8rem !important;
    }

    .col-sm-auto .select2-container--default {
        width: 100% !important;
    }

    .navbar-expand .navbar-nav .nav-link {
        padding-right: .58rem;
        padding-left: .58rem;
    }

    .text-center {
        /* text-align: inherit !important; */
    }

    .paginate_button .page-link {
        padding: .5rem .5rem !important
    }

    #cboEmpresaFilter+.select2-container.select2-container--default,
    #cboPreEstadoFilter+.select2-container.select2-container--default #cboOrdenEstadoFilter+.select2-container.select2-container--default {
        max-width: 100%;
        /* Puedes ajustar este valor según tus necesidades */

    }

    #rowFilter {
        flex-wrap: wrap !important;
    }

    .dt-button-collection {
        right: 0 !important;
        left: initial !important;
    }

    .txt-wrap-sm {
        white-space: normal;
    }

    .col-sm-auto {
        padding: 0
    }
}

.dtr-details .text-center {
    text-align: inherit !important;
}

@media (min-width: 768px) and (max-width:829px) {
    .fsize-1 {
        font-size: 1.058rem !important;
    }

    .col-sm-6 .input-data .invalid-feedback {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width:899px) {
    .fsize-2 {
        font-size: 1rem !important;
        ;
    }
}

.sidebar-collapse .main-sidebar:hover .nav-sidebar.nav-child-indent .nav-treeview .nav-link {
    padding-left: 1rem;
    width: calc(250px - .5rem * 2 - 1rem);
}

.sidebar-collapse .main-sidebar:hover .nav-sidebar.nav-child-indent .nav-treeview {
    padding-left: 1rem;
}

@media (min-width: 992px) and (max-width:1152px) {
    .fsize-2 {
        font-size: .95rem !important;
        ;
    }

}

.form-group label {
    font-size: 1.15rem;
    white-space: nowrap;
}

.input-group {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.dark-mode .dropdown-item:hover {
    background-color: #00000069;
}

.switch-2 {
    position: relative;
    width: 3em;
    height: 1.4em;
    margin-bottom: 0;
}

.switch__check {
    display: block;
    transform: rotate(180deg);
    transition: transform var(--trans-dur) var(--trans-timing);
    z-index: 1;
    box-shadow: -1px 1px 2px inset rgba(0, 0, 0, 0.318);
    border-radius: 50%;
}

.row-selected {
    background-color: rgba(88, 140, 45, 0.373) !important;
    /* Fondo amarillo */
}

.select-all {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--gray);
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    /* transition: var(--transition); */
}

.select-all:checked::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.select-all:checked {
    border-color: #4f4f4f00;
    background-color: #000000a8;
}

/* #tblEmpleadoH tbody tr:hover {
    background-color: rgba(88, 140, 45, 0.195);
} */

.switch__check-line {
    transform: translate(0, 0);
    transition: stroke var(--trans-dur) var(--trans-timing),
        stroke-dashoffset var(--trans-dur) var(--trans-timing),
        transform var(--trans-dur) var(--trans-timing);
    stroke: var(--stroke);
}

/* .modal-body {
    transition: all 0.3s ease;
  } */

.modal-body.animate-resize {
    animation: resizeFade 0.3s ease;
}


@keyframes resizeFade {
    from {
        opacity: 0.6;
        transform: scaleY(0.98);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.accordion-animate {
    animation: fadeSlideIn 0.4s ease-in-out;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


i.fas.fa-file-lines.mr-3.fa-xl:hover {
    color: #423700 !important;
}

.switch__input {
    background-color: var(--toggle-back);
    border-radius: 1.5em;
    box-shadow: 0 0.0625em 0.125em var(--dark-sh) inset, 0 0.0625em 0.125em var(--light-sh), 0 0 0 0.125em var(--primary-t);
    cursor: pointer;
    display: block;
    outline: transparent;
    width: 100%;
    height: 100%;
    transition: background-color var(--trans-dur) var(--trans-timing), box-shadow var(--trans-dur) var(--trans-timing);
    -webkit-appearance: none;
    appearance: none;
}

.switch__input:before,
.switch__input:after {
    content: "";
    display: block;
}

.switch__input:before {
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    box-shadow: 0 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.5);
    transition:
        box-shadow var(--trans-dur) var(--trans-timing),
        transform var(--trans-dur) var(--trans-timing);
}

.switch__input:disabled:before {
    background-color: #ffffff4e;
}

.switch__input:disabled+svg .switch__check-line {
    --stroke: #00000054;
}

.dark-mode .switch__input:disabled+svg .switch__check-line {
    --stroke: #00000094;
}

.switch__input:after {
    border-radius: 0.75em;
    box-shadow: -1px 2px 4px inset rgb(0 0 0 / 28%);
    /* box-shadow: -1px 2px 8px inset rgb(0 0 0 / 22%); */
    width: 100%;
    height: 100%;
    transition: box-shadow 0.15s linear;
}

.switch__input:focus {
    box-shadow: 0 0.0625em 0.125em var(--dark-sh) inset, 0 0.0625em 0.125em var(--light-sh), 0 0 0 0.125em var(--primary-t), 0 0 0 0.2rem var(--boxshadow);
}

.switch__check,
.switch__input:before {
    position: absolute;
    top: 0.2em;
    left: 0.25em;
    width: 1em;
    height: 1em;
    cursor: pointer
}

.switch__input:checked {
    background-color: var(--label-new);
}

.switch__input:checked:before {
    box-shadow: 0 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.5);
    transform: translateX(1.5em);
}

.switch__input:checked+.switch__check {
    animation: switch-check 0s var(--trans-timing);
    transform: translateX(1.5em) rotate(-225deg);
}

.switch__input:checked+.switch__check .switch__check-line {
    stroke: var(--label-new);
    stroke-dashoffset: 0;
    transform: translate(-1px, -1px);
    transition-delay: 0s, calc(var(--trans-dur) / 2), 0s;
}

/* Animations */
@keyframes switch-check {
    from {
        transform: translateX(0) rotate(0);
    }

    to {
        transform: translateX(1.4em) rotate(135deg);
    }
}

.col-lg-3 {
    width: 50% !important;
}

/* Ocultar el input */
#check_stock {
    display: none;
}

#check_stock:checked+label #stock_icon {
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5), 0 0 10px rgba(0, 255, 0, 0.5), 0 0 15px rgba(0, 255, 0, 0.5);
    /* Agregar sombra */
    color: var(--icon-neon);
}